* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navegation {
    height: 70px;
    width: 100vw;
    padding-top: 10px;
    background: black;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white; /*cor temporária para a visualização da barra de navegação */ 
}

.navBar a {
    text-decoration: none;
    color: white; /*cor também temporária para a melhor visualização da barra de navegação*/
}

.navImg {
    height: 50px;
}

.initial {
    background-image: url("./img/main_img.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 530px;
}