* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    background: rgb(0,36,34);
    background: linear-gradient(52deg, rgba(0,36,34,1) 0%, rgba(9,39,121,1) 27%, rgba(0,212,255,1) 100%);
}

.navegation {
    height: 70px;
    width: 100vw;
    padding-top: 10px;
    background: black;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white; /*cor temporária para a visualização da barra de navegação */ 
}

.navBar a {
    text-decoration: none;
    color: white; /*cor também temporária para a melhor visualização da barra de navegação*/
}

.navImg {
    height: 50px;
}

.initial {
    margin: 0px;
}

.initialImg {
    width: 100vw;
}

.sectionOne {
    border-top: gold 3px solid;
}

.mainTitle {
    margin: 10px;
    padding: 30px;
    width: 50vw;
    border-radius: 20px;
    color: white; 
    background: black;
    border: gold 0.9px solid;
}

.divText {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgSectionOne {
    height: 400px;
    /*border: blue solid;*/
}

.mainTitle {
    padding-left: 15px;
}

.sectionTwo {
    border-top: gold 0.9px solid;
}

.lolVideo {
    border-radius: 20px;
    border: gold 0.9px solid;   
    margin: 30px;
}